@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body{
    background-color: rgb(95, 6, 179);
}

p{
    color: cornsilk;
}

h1 {
    text-align: center;
    color: cornsilk;
    padding-bottom: 30px;
    padding-top: 10px;
}
.boxjeux{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.fondchoix{
    height: 350px;
    width: 350px;
    background-color: blueviolet;
    border-radius: 20px;
    border: cornsilk solid 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#choixjoueur{
    font-size: 50px;
    color: cornsilk;
    font-family: 'Orbitron', sans-serif;
}

#choixordi{
    font-size: 50px;
    color: cornsilk;
    font-family: 'Orbitron', sans-serif;
}

.boutons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

button{
    color: darkgoldenrod;
    background-color: cornsilk;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
    min-width: 200px;
    font-family: 'Orbitron', sans-serif;
}

button:hover{
    transition: 0.7s;
    background-color: darkgoldenrod;
    color: cornsilk;
    border-color: darkgoldenrod;
}

#resultat{
    color: blueviolet;
    background-color: black;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
    min-width: 200px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

